{% extends "base.html.twig" %}

{% block body %}
<section>
    <div class="container">
        <div class="form-container">
            <h1 class="text-center met-4">Les Actualités</h1>
        </div>
    </div>
</section>
{% endblock body %}