{% extends "base.html.twig" %}

{% block body %}
<section>
    <div class="container">
        <div class="form-container">
            <h1 class="text-center met-4">Les Actualités</h1>
            <div class="container">
                <div class="news-heading">Actualité fictive : Des hôtels spatiaux révolutionnaires annoncés pour des voyages interplanétaires</div>
                <div class="news-date">29 juin 2023</div>
                <div class="news-content">
                  <p>Une nouvelle ère dans l'industrie hôtelière est sur le point de débuter avec l'annonce fracassante de la construction de luxueux hôtels spatiaux, conçus pour offrir des expériences uniques lors de voyages interplanétaires. Les principaux acteurs de l'industrie hôtelière se sont associés à des entreprises spatiales de pointe pour donner vie à ce projet visionnaire.</p>
                  
                  <p>Les hôtels spatiaux, surnommés "CosmoLux", seront des stations spatiales sophistiquées dotées d'installations ultramodernes. Ils offriront des vues époustouflantes sur l'espace infini et permettront aux clients de vivre une expérience immersive dans l'environnement extraterrestre.</p>
                  
                  <p>Les chambres des hôtels spatiaux seront équipées de fenêtres panoramiques offrant des vues imprenables sur les étoiles et les planètes environnantes. Les clients pourront profiter de l'apesanteur et de la sensation unique de flotter dans l'espace tout en bénéficiant de tout le confort d'un hôtel de luxe, y compris des lits ergonomiques spécialement conçus pour assurer un sommeil paisible en apesanteur.</p>
                  
                  <p>Les restaurants des hôtels spatiaux proposeront une cuisine de haute qualité, alliant mets terrestres et plats exotiques inspirés des ingrédients et des saveurs des différentes planètes explorées. Les clients auront également la possibilité de participer à des expériences de dégustation de nourriture spatiale, préparée spécialement pour les voyages spatiaux.</p>
                  
                  <p>Les activités proposées aux clients des hôtels spatiaux seront également uniques en leur genre. Des excursions spatiales guidées, des sorties en combinaison spatiale pour explorer la surface des planètes et des expériences de réalité virtuelle seront au programme. Les amateurs d'aventure pourront même s'entraîner pour devenir des astronautes en participant à des simulations de vols spatiaux et d'explorations extraterrestres.</p>
                  
                  <p>Les réservations pour les premiers séjours dans les hôtels spatiaux "CosmoLux" seront ouvertes dès le mois prochain, suscitant un engouement mondial. Les voyageurs fortunés et les passionnés d'exploration spatiale sont impatients de vivre cette expérience inédite et de repousser les frontières du tourisme.</p>
                  
                  <p>Ce projet novateur marque une étape importante dans l'histoire de l'industrie hôtelière, ouvrant la voie à de nouvelles possibilités d'hébergement et de voyages interplanétaires. Les hôtels spatiaux promettent de devenir les destinations de choix pour les voyageurs en quête de découvertes extraterrestres et de luxueuses expériences spatiales.</p>
                </div>
                <div class="news-footer">Alors que l'industrie hôtelière se lance dans cette nouvelle aventure interplanétaire, une chose est certaine : les hôtels spatiaux "CosmoLux" ouvriront les portes d'un monde fascinant et offriront des souvenirs inoubliables à tous ceux qui oseront franchir les frontières de l'espace.</div>
              </div>
    </div>
</section>
{% endblock body %}