@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.logo{
    font-family: 'Dancing Script', cursive;
    color: goldenrod;
}

.titre{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    color: goldenrod;
}



.navbar-nav .nav-item .nav-link {
  color: goldenrod; 
}

/* CAROUSEL */

.carousel-item img {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); 
}

.carousel-caption h5, .carousel-caption p {
  color: #fff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.carousel-img{
  max-height: 92vh;
}

/* CARD ACCUEIL */
.container-card{
  padding: 0 80px;
}

.card-accueil {
  border-radius: 100px;
  max-width: 350px;
}



.card-accueil .card-header{
  height: 350px;
}

.card-accueil .card-header img{
  border-radius: 50%;
}

.card-accueil .card-header a{
  font-family: 'Dancing Script', cursive;

}

.card-accueil img {
  border-radius: 10px;
  margin-bottom: 10px;
}
/* MAP */

.map-container {
    position: relative;
    padding-bottom: 56.25%; 
    overflow: hidden;
    width: 80%; /* Ajuste la largeur de la carte selon vos préférences */
    max-width: 1500px; /* Définit une largeur maximale si nécessaire */
    margin: 0 auto;
}


  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    border: 0;
  }

  .map {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .legend {
    margin-top: 20px;
  }
  .legend-item {
    display: inline-block;
    margin-right: 20px;
  }
  .metro-line {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .bus-stop {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f8f9fa;
    border-radius: 3px;
    margin-right: 5px;
  }

/* CONTACT */

.form-container {
    margin: 50px auto;
    max-width: 500px;
}

footer {
    background-color: #222;
    padding: 20px 0;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    color: goldenrod;
}

/* SCROOL */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #777;
    color: #fff;
    border-radius: 50%;
    opacity: 0.5;
    display: none;
  }

  .scroll-to-top:hover {
    opacity: 1;
  }

/* RESTAURANT */

  .restaurant-card {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    display: none;
  }

  .restaurant-card h3 {
    text-align: center;
    margin-bottom: 20px;
  }

  .menu-category {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .dish {
    margin-bottom: 10px;
  }

  .dish .name {
    font-weight: bold;
  }

  .dish .description {
    color: #777;
  }

  .dish .price {
    font-weight: bold;
  }

/* RESTO IMG */

.image-left {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .image-left img {
    width: 300px;
    margin-right: 20px;
  }
  .image-right p {
    margin-bottom: 20px;
  }

  .img-resto{
    width: 50vw;
  }

  .resto-img{
    height: 300px;
    width: 200px;
  }

.img-accueil{
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.accueil-link{
    text-decoration: none;
    transition: .4s;
}

.accueil-link:hover{
    text-decoration: none;
    color: goldenrod;
}

.chambre-card{
  display: none;
}



/* About us - HISTORIQUE */



.section-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-description {
  font-size: 18px;
  margin-bottom: 30px;
}

.highlight {
  color: #ffcc00;
}

.timeline-item {
  padding: 30px 0;
}

.timeline-item:nth-child(even) .timeline-content {
  text-align: right;
}

.timeline-item:nth-child(even) .timeline-content h2 {
  margin-right: 0;
  margin-left: -15px;
}

.timeline-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 0;
}

.timeline-content p {
  font-size: 16px;
  margin-bottom: 10px;
}

.timeline-content img {
  max-width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.commande-photo{
  width: 150px;
  height: 100px;
}

.table-commande{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.commentaire-card {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.main-content-wrapper {
  min-height: 100%;
  /* Si vous utilisez Flexbox */
  display: flex;
  flex-direction: column;
}

.fixed-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* NEWS */

.news-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.news-date {
  font-style: italic;
  margin-bottom: 10px;
}
.news-content {
  font-size: 18px;
  margin-bottom: 30px;
}
.news-footer {
  font-style: italic;
}


