{% extends "base.html.twig" %}

{% block body %}
<section>
    
      <div class="form-container">
        <h1 class="titre mb-4 titre-page text-center">Contactez-nous</h1>
        <div class="map">
          {{ form(form)}}

          {{ form_end(form) }}            
        </div>
      </div>
</section>


<footer class="bg-primary fixed-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer">
        <div>
        <p class="footer-text my-3">&copy; 2023 Hôtel Grand Horizon. Tous droits réservés.</p>
      </div>
        <div class="footer-icons">
          <a href="https://fr-fr.facebook.com/" target="_blank" class="social-icon"><i class="fa-brands fa-facebook text-warning fa-2xl"></i></a>
          <a href="https://www.instagram.com/" target="_blank" class="social-icon"><i class="fa-brands fa-instagram text-warning fa-2xl"></i></a>
        </div>
      </div>
      </div>
    </div>
  </div>
</footer>
    
{% endblock body %}
